# Compiled Object files
*.exe
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.log

#CMake stuff
CMakeCache.txt
Makefile
CMakeFiles
cmake_install.cmake
/Sources/.vscode/launch.json
/TestCaseAssert
/TestModels
/tests.dir/Debug/tests.tlog
*.obj
*.dll
/.vs/MProject/v14
*.ilk
*.pdb
*.lib
*.exp
*.tlog
/Build/TestModels
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/CMakeLists.txt.user
/freeglut.pc
/freeglut.rc
/freeglutdll.def
/INSTALL.vcxproj
/INSTALL.vcxproj.filters
/MProject.VC.VC.opendb
/MProject.VC.db
/MProject.sln
/main.vcxproj.user
/main.vcxproj.filters
/main.vcxproj
/ZERO_CHECK.vcxproj.filters
/ZERO_CHECK.vcxproj
/tests.vcxproj.filters
/tests.vcxproj
/Tools/GPU ShaderAnalyzer
/External/selene/
/External/lua/
/External/imgui/
/External/glew/
/External/freeglut/
/External/cereal/
